<form action="/rides/result" method="POST">
    <h1>Ride informations</h1>
    <label for="startLatitude">Start latitude</label>
    <input type="text" placeholder="" name="startLatitude" value="48.870377">
    <br>

    <label for="startLongitude">Start longitude</label>
    <input type="text" placeholder="" name="startLongitude" value="2.370615">
    <br>

    <label for="endLatitude">End latitude</label>
    <input type="text" placeholder="" name="endLatitude" value="48.882719">
    <br>

    <label for="endLongitude">End longitude</label>
    <input type="text" placeholder="" name="endLongitude" value="2.322451">
    <br>

    <input type="submit" value="Search" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>